@mixin invalid-value {
  color: red;
}

.date-picker {
  &__picker {
    &--hidden {
      display: none;
    }
  }

  &__stub {
    &--hidden {
      display: none;
    }
  }

  &__picker,
  &__stub {
    &--invalid {
      @include invalid-value();
    }
  }
}
