<mat-form-field>
  <input matInput [matDatepicker]="datePicker"

         (change)="setValue($event.target.value)"
         (dateChange)="setValue($event.value)"
         (focus)="datePicker.open()"
         [value]="value"
         [ngClass]="valid ? 'date-picker--enabled' : 'date--disabled'"
         [disabled]="isDisabled"
         [max]="maxDate"
         [min]="minDate"
  />
  <input matInput
         (change)="setValue($event.target.value)"
         (focus)="datePicker.open()"
         [value]="value"
         [ngClass]="valid ? 'invalid-date-holder--disabled' : 'invalid-date-holder--enabled'"
         [disabled]="isDisabled" />
  <mat-datepicker-toggle matSuffix (click)="datePicker.open()"></mat-datepicker-toggle>
  <mat-datepicker #datePicker></mat-datepicker>
</mat-form-field>
