<mat-form-field>
  <input matInput [matDatepicker]="datePicker"
         (change)="setValue($event.target.value)"
         (dateChange)="setValue($event.value)"
         (focus)="datePicker.open()"
         [value]="value"
         [ngClass]="{ 'date-picker__picker--hidden': !validAsDate, 'date-picker__picker--invalid': !valid}"
         [disabled]="isDisabled"
         [max]="maxDate"
         [min]="minDate"
  />
  <input matInput
         (change)="setValue($event.target.value)"
         (focus)="datePicker.open()"
         [value]="value"
         [ngClass]="{ 'date-picker__stub--hidden': validAsDate, 'date-picker__stub--invalid': !valid }"
         [disabled]="isDisabled" />
  <mat-datepicker-toggle matSuffix (click)="datePicker.open()"></mat-datepicker-toggle>
  <mat-datepicker #datePicker></mat-datepicker>
</mat-form-field>
